* {
	font-family: "Shadows Into Light", cursive;
	padding: 0%;
	margin: 0%;
}

#container {
	width: 1400px;
	margin: auto;
}
header {
	color: white;
	text-align: center;
	background-color: #29347b;
}

section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #273877;
}

figure {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 250px;
}
img {
	display: inline-block;
	height: 200px;
}
figcaption {
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 1400px) {
	#container {
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	figure {
		width: 50%;
	}
}

@media only screen and (max-width: 450px) {
	figure {
		width: 100%;
	}
}
